<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/3947aef1e2.js"
      crossorigin="anonymous"
    ></script>
    <title>All provinces</title>
    <link rel="stylesheet" href="/stylesheets/allProvinces.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <h1 class="title text-center">See all provinces</h1>

    <section class="container all-provinces">
      <div class="row g-5">
        <% result?.forEach(province => { %>
        <div class="col-xl-3 col-sm-12">
          <div class="card">
            <img
              src="/images/provinces/<%= province.province_img || 'default-china.jpg' %>"
             
              alt="image-china"
            />
            <div class="card-body">
              <h5 class="card-title"><%= province.province_name %></h5>
              <p class="card-text"><%= province.province_description %></p>
              <a href="/province/oneProvince/<%= province.province_id %>"
                ><button class="b-info">See more</button></a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <%- include('footer') %>

