<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/3947aef1e2.js"
      crossorigin="anonymous"
    ></script>
    <title>All provinces</title>
    <link rel="stylesheet" href="/stylesheets/oneProvince.css" />
    <%- include('navbar') %>
    
        <h1 class=" text-center province-name"><%= resultProvince[0].province_name %></h1>
   
      <section class="container-xxl">
        <div class="row mt-4 card-province d-flex align-items-start justify-content-start">
          <div class="info-image  d-flex align-items-end justify-content-end col-6">
            <img class="image-china" src="/images/provinces/<%= resultProvince[0].province_img %>" alt=""></div>
          <div class="d-flex i-province flex-column justify-content-start flex-row align-items-start col-6">
           
            <div class="d-flex"><img class="logo" src="/images/mail.jpg" alt=""><p><%= resultProvince[0].province_email %></p></div>

            <br>
      
            <div class="d-flex"><img class="logo" src="/images/tel.jpg" alt=""><p><%= resultProvince[0].province_tel %></p></div>
            <a href="/landmark/formRegisterLandmark/"><button>Add your favorite landmark</button></a>
            
          </div>
        </div>
      </section>
      
      <section class="container-xxl">
        <div class="row">
          <div class="col-12 mb-4 title-landmark">
            <h1 class="text-center">RECOMMENDED LANDMARKS</h1>
          </div>
        </div>
      </section>
  
        <section class="container">
          <div class="row">
            <% resultLandmark.forEach(landmark => { %>
              <div class="col">
                <div class="card">
                  <img src="/images/landmarks/<%= landmark.landmark_img %>" class="card-img-top" alt="<%= landmark.landmark_name %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= landmark.landmark_name %></h5>
                    <p class="card-text"><%= landmark.landmark_street %></p>
                    <a href="/landmark/delLandmark/<%= landmark.landmark_id %>"><button class="button-landmark">Delete landmark</button></a>
                    <a href="/landmark/formEditLandmark/<%= landmark.landmark_id %>" class="ml-2"><button class="button-landmark">Update your Landmark</button></a>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
    <%- include('footer') %>
